{% extends 'base.html.twig' %}

{% block title %}Input Parameters{% endblock %}

{% block body %}
    <h1>Input Parameters</h1>
    <div class="panel panel-info">
        <div title="click to expand/collapse" class="panel-heading">
            <div class="panel-header-caption">Form Values</div>
        </div>
        <div class="panel-body in">
            <table class="table table-hover table-condensed">
                <tr>
                    <th>Name</th>
                    <th>Label</th>
                    <th>InputField</th>
                    <th>Unit</th>
                    <th>Precision</th>
                </tr>
                {% for parameter in inputParameters %}
                    <tr>
                        <td>{{ parameter.name }}</td>
                        <td>{{ parameter.label }}</td>
                        <td>{{ parameter.inputField }}</td>
                        <td>{{ parameter.unit }}</td>
                        <td>{{ parameter.precision }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-info">
        <div title="click to expand/collapse" class="panel-heading">
            <div class="panel-header-caption">Input Form</div>
        </div>
        <div class="panel-body in">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
